.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 4em;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  @media screen and (max-width: 480px) {
    .myspan{
        font-size: 45px !important;
        margin-left:40px !important;
    }
    .txt-rotate{
        font-size: 45px !important;
    }

    .register{
        margin-left:90px !important;
    }
  }

  h1 {
    margin: 0 0 .5em;
    padding: 0;
  }
  
  .animate-reveal {
    
    opacity: 0;
    -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
       -moz-animation: reveal 1s ease-in 1 normal forwards;
         -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
            animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  }
  
  .animate-first {
    -webkit-animation-delay: 0;
       -moz-animation-delay: 0;
         -o-animation-delay: 0;
            animation-delay: 0;
  }
  
  .animate-second {
    -webkit-animation-delay: 500ms;
       -moz-animation-delay: 500ms;
         -o-animation-delay: 500ms;
            animation-delay: 500ms;
  }
  
  .animate-third {
    -webkit-animation-delay: 1s;
       -moz-animation-delay: 1s;
         -o-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  @-webkit-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-moz-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-o-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }